.tooltipContainer {
    max-width: 70vw !important;
    max-height: 90vh;
    height: 100%;
    align-items: center;
    padding: 16px 10px 10px;
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 100;
    position: relative;
}

.tooltipComponent {
    width: 350px;
    margin-bottom: 6px;
}

.barChart {
    width: 400px;
}

.infoPanelContainer {
    max-width: 45vw;
    padding: 20px;
    max-height: 1800px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #FFF;
    position: absolute;
    top: 10%;
    left: 50%;
    text-align: left;
    z-index: 100;
    border-radius: 13px;
}

.infoPanelDesp {
    text-align: left;
    background-color: #FFF;
    padding: 5px;
    height: 50vh;
    overflow-y: scroll;
    white-space: pre-line;
}

.searchTips > span > span {
    color: darkred;
}

.darkDropdown:active {
    background-color: black !important;
    color: white !important;
}